.meio {
    width: 80%;
    background-color: white;
    margin: auto; 
    text-align: justify;           
}
.relative {
    position: relative;
    background-color:#eee;
    width: 80%;
    margin: auto;
    padding: 100px;
    text-align: center;
}
.absolute {
    position: absolute;
    background-color: #999;
    width: 100px;
    padding: 80px;
    right: -2%;
    bottom: 0%;
    text-align: center;
}
.fixed {
    position: fixed;
    background-color: #999;
    padding: 100px;
    top: 0;
    left: 0;
    text-align: center;
}